body{
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}
.container{
    max-width: 1048px;
    width: 100%;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#animation-canvas {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all,.6s;
    -o-transition: all,.6s;
    transition: all,.6s;
    opacity: .03;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
}

main.main-section {
    background-color: rgb(10, 25, 47);
}

/* Header css and navigation css*/

.banner-text span {
    color: rgb(100, 255, 218);
    font-size: 18px;
}

.banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    max-width: 1048px;
    margin: 0 auto;
    padding: 20px;
}

/* .banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
} */

section.banner-section.clearfix {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 99;
    background-size: cover;
    height: 100vh;
    margin-bottom: -2px;
}
.banner-text p {
    color: rgb(136, 146, 176);
    font-size: 18px;
    line-height: 30px;
    max-width: 520px;
    padding-top: 45px;
}

.banner-text span {
    color: rgb(100, 255, 218);
    font-size: 18px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}


.banner-text h1{
    color: rgb(204, 214, 246);
}
.banner-text h2{
    color: rgb(136, 146, 176);
}


.banner-text h1, .banner-text h2 {
    font-size: 70px;
    font-weight: 600;
    line-height: 1.2;
}

.banner-text .btn {
    background-color: transparent;
    border: 1px solid rgb(100, 255, 218);
    padding: 10px 55px;
    margin-top: 20px;
    color: rgb(100, 255, 218)
}

.banner-text .btn:hover{
    color: #ffffff;
    border-color:#ffffff
}


/* About  */

.commom-section {
    padding: 40px 0;
    position: relative;
    z-index: 99   
}



.flex-child.image {
    position: relative;
    order: 2;
}


.heading-section h2 {
    color: #ffffffb0;
    display: inline-block;
}

section.about-section-wrapper {
    padding: 80px 0 40px 0;
}


.flexwrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}


.flex-child.image span a {
    width: 309px;
    position: relative;
    display: block;
    height: 300px;
}
.flex-child.image img:hover {
    filter: grayscale(0);
    transition: 0.3s ease;
}

.loader {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #0a192f;
    z-index: 999;
}

.flex-child.image img {
    position: absolute;
    bottom: 0;
    top: 0;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    filter: grayscale(1);
    transition: opacity 500ms ease 0s;
    height: 100%;
}

.flex-child.content p {
    max-width: 700px;
    color: #ffffff;
    font-size: 20px;
    line-height: 34px;
}

.flex-child.image span:before {
    content: '';
    position: absolute;
    right: 0;
    left: 15px;
    width: 100%;
    background-color: transparent;
    height: 100%;
    top: -14px;
    border: 2px solid rgb(100, 255, 218);
}

.flex-child.image span {
    display: block;
    max-width: 495px;
}


.flex-child.content {
    padding: 0 60px 0 0;
}

section.about-section-wrapper h2:after {
    left: 296px;
}

.tabing-wrapper {
    margin-top: 40px;
}

.tabing-wrapper .rwt__tablist button {
    color: #b4b7be;
    cursor: pointer;
    margin-bottom: 35px;
    font-size: 20px;
}

.block-ui h2 {
    font-size: 20px;
    padding-left: 50px;
    color: #ffffff;
}

.block-ui h2 span {
    color: #54b6ab;
}

.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"] {
    color: #5dd8fa;
}

.block-ui h3 {
    padding-left: 50px;
    color: #b4b7be;
    font-size: 15px;
    line-height: 26px;
}

.block-ui ul {
    padding: 30px 50px;
    list-style-type: none;
    color: #ffffff;
    line-height: 36px;
}

.item-block {
    text-align: center;
}

.slick-slide img {
    display: block;
}

.item-block {
    max-width: 400px;
    color: #ffffff;
}

.item-block img {
    width: 200px;
    margin: 0 auto;
    height: 200px;
}

.item-block h2 {
    padding: 20px 0;
    text-transform: capitalize;
}

.carousel-wrapper {
    padding: 50px;
}

.slick-dots li button:before {
    font-size: 20px !important;
    color: #ffffff !important;
}

.slick-dots li.slick-active button:before {
    color: #ffffff !important;
}


.item-block p {
    font-size: 16px;
    line-height: 30px;
}

button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
    display: none !important;
}

.block-ui ul li {
    position: relative;
    padding-left: 20px;
}

ul.list-wrapper li > span {
    display: block;
}

.block-ui ul li:before {content: '';position: absolute;width: 8px;height: 9px;background-color: #54b6ab;left: 0;top: 14px;border-radius: 50%;}

/* contact */

.heading-section.contact p {
    color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 40px;
    line-height: 31px;
    font-size: 19px;
}

section.commom-section.contact-form-wrapper {
    padding-top: 40px;
}

.heading-section.contact {
    text-align: center;
}

.form-group label {
    color: #ffffff;
    font-size: 16px;
}

.form-group .form-control {
    border-radius: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

.error{
    color: red;
}

button.btn.submit-btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 11px 68px;
    margin-top: 20px;
}

button.btn.submit-btn:hover {
    background-color: #53b19a;
}

.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

/* Projects css */

.flex-wrapper{
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    transition: 0.3s ease;
    align-items: center;
}


.seed{
    background-image: url('./assets/seed.png');
}

.obuhi{
    background-image: url('./assets/obuhi.png');
}

.oaks{
    background-image: url('./assets/oaks.png');
}

.janeous{
    background-image: url('./assets/janeous.png');
}

a.flex-wrapper:nth-child(odd) .project-image {
    order: 1;
}
a.flex-wrapper:nth-child(odd) .project-desc {
    order: 2;
}

.flex-wrapper:hover {
    text-decoration: none;
}

.project-desc h2 {
    color: #ffffff;
    letter-spacing: 0.100em;
}

.project-desc span {
    color: #52b0a6;
    font-size: 17px;
}

a.flex-wrapper:nth-child(even) .project-image {
    order: 2;
}
a.flex-wrapper:nth-child(even) .project-desc {
    order: 1;
}


a.flex-wrapper:nth-child(even) .project-desc {
    padding: 0 40px 0 0;
}


a.flex-wrapper:nth-child(odd) .project-desc{
    padding: 0 0 0 40px;
}

.project-desc {
    max-width: 515px;
}

.project-desc p {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
}

.form-group .form-control:focus {
    box-shadow: none;
    outline: 0;
}

.commom-css{
    width: 50%;
    background-position: center;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

nav.contact-me {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 67px;
    text-align: center;
    padding-right: 12px;
    z-index: 99;
}

ul.list-wrapper li svg {
    font-size: 79px;
    color: #ffffff;
}

nav.contact-me a {
    display: block;
    font-size: 35px;
    margin-bottom: 25px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

footer.footer-section p {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    letter-spacing: 0.100em;
    font-size: 21px;
}

footer.footer-section p .fa {
    color: red;
}

footer.footer-section p span {
    color: #72efd7;
}

/* Responsive CSS */

@media only screen and (max-width: 991px) {
    .banner-text h1, .banner-text h2{
        font-size: 53px;
    }
    .banner-text p{
        padding-top: 28px;
    }
    nav.contact-me{
        position: static;
        transform: none;
        width: 100%;
    }
    nav.contact-me a {
        display: inline-block;
        font-size: 30px;
        margin-bottom: 12px;
        padding: 0 18px;
    }
}

@media only screen and (max-width: 767px) {
    .banner-text h1, .banner-text h2{
        font-size: 38px;
    }
    .commom-section{
        padding: 30px 0;
        margin-bottom: -2px;
    }
    .flex-child.content{
        order: 2;
        padding: 40px 0 0 0;
    }
    .flex-child.image {
        order: 1;
    }
    .flexwrapper{
        flex-wrap: wrap;
    }
    .tabing-wrapper .rwt__tablist button{
        margin-bottom: 0;
        padding-left: 0;
    }
    .block-ui h3 {
        padding-left: 0;
    }
    .block-ui h2{
        padding-left: 0;
    }
    .block-ui ul{
        padding: 20px 0;
    }
    .block-ui{
        padding-top: 30px;
    }
    .flex-wrapper{
        display: block;
    }
    .commom-css{
        height: 300px;
        width: 100%;
    }
    .rwt__tabs[data-rwt-vertical="true"]{
        display: block !important;
    }
    a.flex-wrapper:nth-child(odd) .project-desc, a.flex-wrapper:nth-child(even) .project-desc{
        padding: 0 20px  !important;
    }
    .rwt__tab[aria-selected="true"]:after{
        content: none  !important;
    }
    .rwt__tablist[aria-orientation="vertical"] {
        border: 0 !important;
        white-space: nowrap;
        margin: 0;
        display: block !important;
        overflow: auto;
    }
    .flex-child.image span:before{
        content: none;
    }
}



@media only screen and (max-width: 475px) {
    p {
        font-size: 16px !important;
        line-height: 24px !important;
    }
    .heading-section.contact p{
        padding: 10px 0;
    }
    .tabing-wrapper{
        margin-top: 20px;
    }
    .heading-section h2{
        font-size: 24px;
    }
    .block-ui ul li{
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 13px;
    }
    .tabing-wrapper .rwt__tablist button{
        font-size: 16px;
    }
    .block-ui h2{
        font-size: 18px;
    }
    .project-desc h2{
        font-size: 24px;
    }
}
/* Loading css */


/* Try that : */

/* 
*{
  border-radius: 100% !important;
}
*/

.loader1{
	box-sizing:border-box;
	width:320px;
	height:400px;
	position:absolute;
}

.loader1{
    left: 0;
    top: 50%;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
}


pre.tech-stack {
    background: #5f988b;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
}

.projectslist a:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}

.container-A{
	position:absolute;
	width:75%;
	height:75%;
	left:12.5%;
	top:12.5%;
}


    ul.list-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
    }

    section.textstack-wrapper {
        padding: 50px 0;
    }

    ul.list-wrapper li > i {
        font-size: 70px;
        display: block;
        color: #ffffff;
    }

    ul.list-wrapper > li {
        font-size: 0;
        padding: 15px;
    }

.container-B{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

.spinner1, .spinner2, .spinner3{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

.spinner1{
	animation : rotation0 4s infinite linear, resize1 4s infinite linear;
}



.hex0, .hex120, .hex240{
	position:absolute;
	box-sizing:border-box;
	width:100%;
	height:57.74%;
	left:0;
	top:21.13%;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
}



.hex0{
	animation:rotation0 4s infinite linear;
}

.hex120{
	transform:rotate(120deg);
	animation:rotation120 4s infinite linear;
}

.hex240{
	transform:rotate(240deg);
	animation:rotation240 4s infinite linear;
}

@keyframes rotation0{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@keyframes rotation120{
	0%{
		transform:rotate(120deg);
	}
	100%{
		transform:rotate(480deg);
	}
}

@keyframes rotation240{
	0%{
		transform:rotate(240deg);
	}
	100%{
		transform:rotate(600deg);
	}
}

@keyframes resize1{
	0%,50%,100%{
		width:100%;
		height:100%;
		left:0%;
		top:0%;
	}
	25%,75%{
		width:120%;
		height:120%;
		left:-10%;
		top:-10%;
	}
	12.5%,37.5%,62.5%,87.5%{
		width:70%;
		height:70%;
		left:15%;
		top:15%;
	}
}

@keyframes resize2{
	0%,33.33%,66.66%,100%{
		width:100%;
		height:100%;
		left:0%;
		top:0%;
	}
	16.66%,49.99%, 83.333%{
		width:70%;
		height:70%;
		left:15%;
		top:15%;
	}
}




/* Toggle css  */

/* The switch - the box around the slider */

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 34px;
    display: none;
    z-index: 999;
    top: 30px;
}

/* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

body.light .main-section {
    background: #f8f9fa;
}

body.light h1, body.light h2, body.light p, body.light span, body.light ul li, body.light label, body.light button {
    color: #000000 !important;
}

body.light input, body.light button {
    border-color: #000000 !important;
}

body.light  nav.contact-me a {
    color: #000000 !important;
}